# Dart / Flutter
.dart_tool/
.packages
.pub/
.pub-cache/
build/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Generated docs
**/doc/api/
